In [1]:
import pandas as pd

path = '/Users/jsha/gjai/nlp/pytest/'

df = pd.read_csv(path+'income.csv')
df_X = df.loc[:, 'age':'nativeCountry']
print('df_X.shape:', df_X.shape)

df_X.shape: (32561, 11)

In [2]:
df_X.head(10)

,age,workclass,education,educationNumber,maritalStatus,occupation,relationship,race,gender,hourPerWeek,nativeCountry
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,4,Male,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,4,Male,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,4,Male,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,3,Male,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,3,Female,40,Cuba
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,4,Female,40,United-States
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,3,Female,16,Jamaica
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,4,Male,45,United-States
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,4,Female,50,United-States
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,4,Male,40,United-States

In [3]:
import numpy as np

# 입력정보: '40 Self-emp-not-inc Masters 14 Married-civ-spouse Exec-managerial Not-in-family 3 male 38 Jamaica'

string = input('다음과 같은 순으로 띄어쓰기를 이용하여 정보를 입력하세요. \n 나이 직업형태 최종학력 학력수 결혼유무 직업 가족관계 인종 성별 주업무시간 출신국가\n')
input_data = np.array(string.split(' ')).reshape(1,-1)
new_df_X = pd.DataFrame(input_data)
new_df_X.shape
new_df_X.columns = df_X.columns

다음과 같은 순으로 띄어쓰기를 이용하여 정보를 입력하세요.
 나이 직업형태 최종학력 학력수 결혼유무 직업 가족관계 인종 성별 주업무시간 출신국가
40 Self-emp-not-inc Masters 14 Married-civ-spouse Exec-managerial Not-in-family 3 male 38 Jamaica

In [4]:
new_df_X.dtypes
new_df_X['age'] = new_df_X['age'].astype('int64')
new_df_X['educationNumber'] = new_df_X['educationNumber'].astype('int64')
new_df_X['hourPerWeek'] = new_df_X['hourPerWeek'].astype('int64')
new_df_X['race'] = new_df_X['race'].astype('int64')
new_df_X.dtypes

age                 int64
workclass          object
education          object
educationNumber     int64
maritalStatus      object
occupation         object
relationship       object
race                int64
gender             object
hourPerWeek         int64
nativeCountry      object
dtype: object

In [5]:
df_X.dtypes

age                 int64
workclass          object
education          object
educationNumber     int64
maritalStatus      object
occupation         object
relationship       object
race                int64
gender             object
hourPerWeek         int64
nativeCountry      object
dtype: object

In [6]:
df_appended = new_df_X.append(df_X)
print('df_appended.shape:', df_appended.shape)
df_appended.head()

df_appended.shape: (32562, 11)

,age,workclass,education,educationNumber,maritalStatus,occupation,relationship,race,gender,hourPerWeek,nativeCountry
0,40,Self-emp-not-inc,Masters,14,Married-civ-spouse,Exec-managerial,Not-in-family,3,male,38,Jamaica
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,4,Male,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,4,Male,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,4,Male,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,3,Male,40,United-States

In [7]:
df_appended.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32562 entries, 0 to 32560
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32562 non-null  int64
 1   workclass        32562 non-null  object
 2   education        32562 non-null  object
 3   educationNumber  32562 non-null  int64
 4   maritalStatus    32562 non-null  object
 5   occupation       32562 non-null  object
 6   relationship     32562 non-null  object
 7   race             32562 non-null  int64
 8   gender           32562 non-null  object
 9   hourPerWeek      32562 non-null  int64
 10  nativeCountry    32562 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.0+ MB

In [8]:
X_num = df_appended.select_dtypes(include=['int64'])
X_cat = df_appended.select_dtypes(include=['object'])
print(X_num.shape)
print(X_cat.shape)

(32562, 4)
(32562, 7)

In [9]:
import pickle

save_path = '/Users/jsha/gjai/nlp/pytest/14_연습문제/'
model_name = '14_추천모델.h5'
mms_name = 'minmaxscaler.pickle'

with open(save_path+mms_name, 'rb') as handle:
    scaler = pickle.load(handle)
    
X_scaled = scaler.transform(X_num)
print(X_scaled.shape)
print(X_scaled[0])

(32562, 4)
[0.31506849 0.86666667 0.5        0.37755102]

In [10]:
X_hot = pd.get_dummies(X_cat)
print(X_hot.shape)

original_X_hot = pd.get_dummies(df_X.select_dtypes(include=['object']))
print(original_X_hot.shape)

(32562, 104)
(32561, 97)

In [11]:
from collections import Counter

new = set(X_hot.columns)
original = set(original_X_hot.columns)
col_list = new & original
print(len(col_list))
X_hot = X_hot.loc[:, col_list]
X_hot.shape

97

(32562, 97)

In [12]:
X_final = pd.concat([pd.DataFrame(X_scaled).reset_index(drop=True), X_hot.reset_index(drop=True)], axis=1)
print(X_final.shape)

(32562, 101)

In [13]:
X_only_new = X_final.iloc[:len(new_df_X), ]
X_only_new.shape

(1, 101)

In [14]:
from keras.models import load_model

loaded_model = load_model(save_path+model_name)

predictions = loaded_model.predict(X_only_new)
print('Result:', predictions)

Using TensorFlow backend.

Result: [[0.664339]]

In [15]:
result = []
for i, prediction in enumerate(predictions):
    if prediction > 0.1: 
        result.append("above 50K") 
    else:
        result.append("below 50K")
print(result)

['above 50K']